importFrom("utils", "read.csv", "write.csv", "write.table", "capture.output")
importFrom("stats", "na.omit")
importFrom("methods", "is")

export(
    alteb,
    agteb,
    aeqb,
    asNumeric,
        curlyBrackets,
        insideBrackets,
        outsideBrackets,
        roundBrackets,
        expandBrackets,
    checkMV,
    checkSubset,
    combnk,
    dashes,
    isNegated,
    possibleNumeric,
    prettyTable,
    recode,
        hastilde,
        notilde,
        tildae,
        tilde1st,
    splitstr,
    sortExpressions,
    translate,
    trimstr,
    tryCatchWEM,
    wholeNumeric,
    
        splitMainComponents,
        splitBrackets,
        removeSingleStars,
        splitPluses,
        splitStars,
        splitTildas,
        solveBrackets,
        simplifyList,
        negateValues,
        removeDuplicates,
        getNonChars
)

S3method(print, "translate")
