importFrom("utils", "read.csv", "write.csv", "write.table", "capture.output")
importFrom("stats", "na.omit")
importFrom("methods", "is")

export(
    alteb,
    agteb,
    aeqb,
    asNumeric,
        curlyBrackets,
        insideBrackets,
        outsideBrackets,
        roundBrackets,
        expandBrackets,
    checkMV,
    checkSubset,
    combnk,
    compute,
    dashes,
    factorize,
    getInfo,
    getLevels,
    getMatrix,
    intersection,
    isNegated,
    possibleNumeric,
    prettyString,
    prettyTable,
    deMorgan,
    negate,
    recode,
        hastilde,
        notilde,
        tildae,
        tilde1st,
    replaceText,
    simplify,
    sop,
    splitstr,
    sortExpressions,
    translate,
    trimstr,
    tryCatchWEM,
    validateNames,
    verify,
    wholeNumeric,
    
        splitMainComponents,
        splitBrackets,
        removeSingleStars,
        splitPluses,
        splitStars,
        splitTildas,
        solveBrackets,
        simplifyList,
        negateValues,
        removeDuplicates,
        getNonChars
)


S3method(print, "factorize")
S3method(print, "intersection")
S3method(print, "translate")
S3method(print, "deMorgan")
S3method(print, "simplify")
